$Primary:#EDF4EE;
$font-color:#121212;
$Secondary:#2A8356;

.more-icons {
    color: #2a8356;
    vertical-align: middle;
}

.warning {
    vertical-align: middle;
    color: #e3006e;
}

.sidebar {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: $Primary;
    width: 300px;
    top: 0;
    bottom: 0;

    h1 {
        margin-bottom: 56px;
    }

    li {
        margin-bottom: 32px;
    }

    a {
        color: $font-color;
        text-decoration: none;
        font-weight: 700;

        &:hover {
            color: $Secondary;
        }
    }


    i {
        vertical-align: middle;
        margin-right: 16px;
    }

}

.search-icon {
    .material-icons {
        margin-left: 16px;
    }
}

.main-content {
    padding: 32px;
    margin-left: 332px;
}

.search-bar {
    width: 100%;

}

.coturses-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-title {
    font-size: 24px;
    margin-right: 42px;
}

.coturses-btn {
    display: flex;

    span {
        font-weight: 700;
    }

}

.icon-make {
    font-size: 16px;
}

.coturses-list {
    margin-bottom: 0;
}

.coturses-select {


    .active {
        background-color: $Primary;
        border-color: $Primary;
        color: $font-color;

    }
}

.card-color {
    background-color: $Primary;
}

.select-text {
    display: flex;
    justify-content: space-between;

}

.media-img {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

    }

}

.font-color {
    font-size: 12px;
    font-weight: normal;
}

.code-color {
    font-size: 14px;

    code {
        color: $Secondary;
        background-color: $Primary;
    }
}

.btn-item {

    padding-top: 8px;

    button {
        background-color: $Primary;
        border: 1px solid #cdddcd;
        color: #000;
        vertical-align: middle;
        font-weight: 700;

        &:hover {
            background-color: $Primary;
            border: 1px solid #e3006e;
            color: #e3006e;
            
        }
    }

}

.icon-paperclip {
    &:hover {
        border: 1px solid #e3006e;
        color: #e3006e;
        
    }
}

.btn-bottom {
    button {
        background-color: $Secondary;
        padding: 8px 24px;
        color: #ffff;
        font-weight: 700;
        margin-left: 16px;

        &:hover,
        &:active {
            background-color: #fff;
            border: 1px solid $Secondary;
            color: $Secondary;
        }

    }


}

.admin-title {
    display: flex;

    h3 {
        font-size: 24px;
        font-weight: 500;
    }
}

.admin-title-sm {
    font-size: 16px;
    font-weight: 500;
}

.table-Admin {
    tr {
        th {
            border-bottom: 1px solid rgb(50, 50, 50);
            font-weight: 700;


        }
    }

}

.table-body {
    td {
        padding: 0.75rem 0 0.3rem 0;

    }

}

.modal-bg {
    overflow-y: scroll;
    max-height: 669px;
}

.custom-control-label {
    &::before {
        height: 20px;
        width: 20px;
    }

}

.custom-control-label {

    &::after {
        top: 0;
        left: -30px;
        width: 30px;
        height: 30px;
    }

}

.checkbox-txt {
    font-size: 16px;
    font-weight: 500;
}

.add-admin {

    h2 {
        font-size: 24px;
        font-weight: 700;

    }

    h4 {
        font-size: 20px;
        font-weight: 500;

    }

    label {
        font-size: 14px;
        margin-bottom: 8px;
    }

    input {
        height: 51px;
        background-color: #fff;
        border: 1px solid #000;
    }

    select {

        height: 51px;
    }

    .checkbox-admin {
        position: relative;
    }




    .modal-smbtn {
        button {
            padding: 3px 32px;
            background-color: $Secondary;
            color: #fff;

            &:hover {
                border: 1px solid $Secondary;
                color: $Secondary;
                background-color: #fff;
            }


        }

    }

    .smbtnline {
        button {
            padding: 3px 32px;
            border: 1px solid $Secondary;
            color: $Secondary;
            background-color: #fff;

            &:hover {
                background-color: $Secondary;
                color: #fff;
            }
        }

    }


}

.page-admin {
    li {
        border: 1px solid $Secondary;

        a {
            color: #000;
            font-weight: 500;
        }


    }
}

.page-link-a {

    &:hover {
        background-color: $Secondary;
        color: #fff;
        border: 1px solid $Secondary;
    }
}

.modal-pic {
    display: flex;
    width: 38%;

    img {
        max-width: 160px;
        height: auto;
        object-fit: cover;
    }
}

.modal-pic-txt {
    width: 62%;

    p:nth-child(1) {
        font-weight: 700;
    }

    p:nth-child(3) {
        font-size: 24px;
        font-weight: 700;
    }

    p:nth-child(4) {
        color: #0000009a;
        font-size: 14px;
        margin-bottom: 20px;
    }

}

.verified {
    background-color: $Primary;
    padding: 3px;
}

.btn-eyes {

    button {
        padding: 6px 18px;
        background-color: $Secondary;
        color: #fff;
        font-weight: 700;


        &:hover {
            border: 1px solid #e3006e;
            background-color: #fff;
            color: #e3006e;
        }
    }


}

.edit-admin {
    input {
        height: 51px;
        background-color: $Primary;
    }

}


.unverified {
    vertical-align: middle;
    margin-bottom: 16px;
    font-weight: 700;

}

.Deactivate {
    span {
        margin-bottom: 16px;
    }

    button {
        color: #e3006e;
        border: 1px solid #e3006e;
        ;
    }
}

.verification {
    span {
        margin-bottom: 16px;
    }

    button {
        color: $Secondary;
        border: 1px solid #ccc;
    }
}